[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"


disable = missing-docstring,
          invalid-name,
          too-few-public-methods,
          too-many-ancestors,
          unused-argument,
          unused-import,
          logging-fstring-interpolation,
          bad-continuation,
          duplicate-code,
          fixme,
          W0235
          
max-line-length=120
